li
{
    list-style: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
}
a{
    text-decoration: none;
    color: black;
    
}
ul
{
    display: flex;
    justify-content: space-around;
    background-color:#F5F5DC;
    padding: 0.75rem;
}
.box1{
  width: 300px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 100px;
  text-align: center;
  border-width: 15px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: floralwhite;
  border: 1px solid green;
  border-radius: 20px;
}
.box2{
  width: 300px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 100px;
  text-align: center;
  border-width: 15px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #DAF7A6;
  border: 1px solid green;
  border-radius: 20px;
}
div img{
  width: 150px;
  height:150px;
  border-radius: 20px;
  margin-top: 10px;
  border: 2px solid darkolivegreen;
  box-shadow: 5px 5px 5px darkolivegreen;
}
.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.text{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
  background: url(https://c0.wallpaperflare.com/preview/652/943/804/close-up-fresh-freshness-garden.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.pp{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: justify;
  padding: 10px;
}
.b{
  display:inline-block;
  background-color: #93C572;
  border-radius: 9px;
  height: 30px;
  width:70px;
  color:black;
  margin-top:300px;
  margin:auto;
  margin-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif, 'Times New Roman', Times, serif;
  font-weight: bold;
  padding-bottom: 30px;
}
